body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(255, 202, 132);
    border-radius: 25px;
    margin-top: 13px;
    margin-left: 15px;
    margin-right: 15px;
}

.button{
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    padding:8px;
    margin:15px;
    border-radius: 20px;
    background-color: rgb(227, 181, 125);
    text-decoration: none;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; 
}

.veapon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.block-veapon{
    border: 3px solid rgb(255, 181, 120);
    padding: 10px;
    border-radius: 25px;
    margin: 15px;
}

img{
    max-width: 200px;
    max-height: 250px;
    border-radius: 20px;
}

.item{
    padding:10px;
    background-color: rgb(255, 183, 159);
    border-radius: 25px;
    color: white;
    font-size: x-large;
}

h5{
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
